@import '../../../styles/settings.scss';

.root {
    min-height: calc(100vh - 50px);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;

    .leftWrapper {
      width: 60%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-right: 30px;

      h1 {
        display: flex;
        justify-content: center;
        font-family: cursive;
        text-transform: uppercase;
        color: $colorGrey;
    }
      .imageWrapper {
        width: 100%;
        height: 500px;
        
        img{
          object-fit: cover;
          width: 100%;
          height: 500px;
          border: 1px solid $colorWhite;
          border-radius: 3%;
        }
      }
      button:first-of-type {
        left: 10px;
        z-index: 999;

        &:before {
          content: "<";
          font-size: 50px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
          color: $colorBlack;
          background-color: $colorWhite;
        }
      }

      button:nth-of-type(2) {
        right: 20px;

        &:before {
          content: ">";
          font-size: 50px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
          color: $colorBlack;
          background-color: $colorWhite;
        }
      }
    }

    .rightWrapper{
        width: 25%;
        height: 70%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        border: 1px solid lightGrey;
        border-radius: 2%; 
        color: $colorGrey;

        h2, h3, h5 {
            display: flex;
            justify-content: center;
            margin: 10px;            
        }
        h2 {
          color: $colorDarkPink;
          font-size: 30px;
          font-weight: 900;
        }
        h3 {
          text-transform: uppercase;
          font-family: cursive;
        }
        h5 {
          color: rgba(168, 164, 164, 0.863);
          letter-spacing: 1px;
          font-weight: 200;
          font-family: cursive;
        }
        .quantity{
          border: 1px solid lightGrey;
          padding: 0 5px;
            input{
                text-align: center;
            }

            div:before, :after{
            content: none;
        }
          label{
            padding: 5px;
          }
        }

        .btn{
          border: 1px solid lightGrey;
          border-radius: 0;
          margin-top: 10px;
        }

        .btn:nth-of-type(2){
          background: $colorLightPink;
          color: $colorGrey;

          &:hover{
            background: $colorDarkPink;
            color: $colorWhite;
          }
        }
        .btn:nth-of-type(1){
            margin-top: 10px;
        }
    }
  }

 