@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

$mainFont: "PT Sans", sans-serif;
$colorBlack: rgb(12, 8, 8);
$colorGrey: rgb(97, 92, 92);
$colorVeryLightGrey: rgb(211, 211, 211);
$colorLightGrey: rgb(128, 128, 128);
$colorGreyProduct: rgba(168, 164, 164, 0.863);
$colorWhite: #fff;
$colorLightPink: rgb(255, 204, 204);
$colorMediumPink: rgba(243, 230, 230, 1.0);
$colorDarkPink: rgb(255, 184, 184);
$colorBlue: rgba(199, 236, 238,1.0);

body {
  font-family: $mainFont;

  a {
    text-decoration: none;
    color: inherit;
  }
}