@import '../../../styles/settings.scss';

.root {
    padding-top: 70px;
    //height: 870px;
    background-color: $colorBlue;

    .logoWrapper {
      margin-top: -50px;
      //background-color: rgba(199, 236, 238,1.0);
      background-image: url("https://images.pexels.com/photos/8923962/pexels-photo-8923962.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 740px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      h1 {
        text-align: center;
        color: $colorGrey;
        font-weight: 100;
        margin-bottom: 50px;     
      }    
      .icon {
        width: 150px;
        height: 100vh;
        position: fixed;
        left: 5px;
        top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 997;
      
        a {
          color: grey;
          padding: 10px;
          border: 5px solid rgba(255, 184, 184,1.0);
          border-radius: 50%;
          margin: 5px;
          font-size: 40px;
          line-height: 40px;
          transition: all 1s;
          animation: opacity 1s ease-in-out;
      
          &:hover {
            background: white;
            color: pink;
          }
        }
      }            
    }

    .slider {
      position: relative;
     // height: 660px;
      button:first-of-type {
        left: 10px;
        z-index: 999;

        &:before {
          content: "<";
          font-size: 50px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
        }
      }

      button:nth-of-type(2) {
        right: 20px;

        &:before {
          content: ">";
          font-size: 50px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
        }
      }
    }

    .imageWrapper {
      width: 100%;
      height: 800px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
      .title {
        z-index: 1000;
        text-align: center;
        font-size: 40px;
        letter-spacing: 30px;
        //font-family:'Lucida Sans';
        font-family: cursive;
        display: flex;
        justify-content: center;
        transform: translate(0%, -1000%);
        color: grey;
        //border: 5px solid rgba(255, 184, 184,1.0);
        //text-shadow: 2px 5px rgb(0 0 0 / 70%);
        font-weight: 900;
        text-decoration: underline solid pink;

      }
    }

    .sliderContent {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 998;
        width: 1000px;
        height: 150px;
        background: rgba(243, 230, 230, 1.0);
        //background: rgba(199, 236, 238,1.0);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid rgba(255, 184, 184,1.0);
        
        .wrapper {
          height: 90%;
          width: 95%;
          display: flex;
          flex-direction: column;

          .topContent {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: rgba(255, 184, 184,1.0);
            letter-spacing: 15px;
            font-family: cursive;
                        
            h1 {
              margin: 0;
            }            
          }
        }
      }
      .bottomContent {        
        width: 50px;
        height: 250px;
        position: fixed;
        left: 60px;
        top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 998;
        
        
        
        .button {
          color: grey;
          background: rgba(243, 230, 230,0.5);
          padding: 10px;
          border: 5px solid rgba(255, 184, 184,1.0);
          border-radius: 10%;
          margin: 5px;
          font-size: 40px;
          line-height: 40px;
          transition: all 1s;
          animation: opacity 1s ease-in-out;
          word-wrap: break-word;
          

          &:hover{
            background: white;
            color: pink;
            
          }
        } 
      }
      .productsWrapper {
        margin-top: 50px;
                
        h1 {
          text-align: center;
          color: $colorGrey;
          font-size: 40px;
          font-weight: 500;
          margin-bottom: 80px;
          margin-top: -30px;
          font-family: cursive;
          text-decoration: underline solid pink;
          letter-spacing: 10px;
       
        }
        .boxesWrapper {
          display: flex;
          flex-direction: row;
          //display: block;
          flex-wrap: wrap;
          //align-items: center;
          //justify-content: center;          
        }
      }
}
    
