@import '../../../styles/settings.scss';

.root {
    padding-top: 70px;
    background-color: $colorBlue;

    .logoWrapper {
      margin-top: -50px; 
      background-image: url("https://images.pexels.com/photos/8923962/pexels-photo-8923962.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 740px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      h1 {
        text-align: center;
        color: $colorGrey;
        font-weight: 100;
        margin-bottom: 50px;     
      }    
      .icon {
        width: 150px;
        height: 100vh;
        position: fixed;
        left: 5px;
        top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 997;
      
        a {
          color: $colorLightGrey;
          padding: 10px;
          border: 5px solid $colorDarkPink;
          border-radius: 50%;
          margin: 5px;
          font-size: 40px;
          line-height: 40px;
          transition: all 1s;
          animation: opacity 1s ease-in-out;
      
          &:hover {
            background: $colorWhite;
            color: $colorDarkPink;
          }
        }
      }            
    }

    .slider {
      position: relative;
      button:first-of-type {
        left: 10px;
        z-index: 999;

        &:before {
          content: "<";
          font-size: 50px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
        }
      }

      button:nth-of-type(2) {
        right: 20px;

        &:before {
          content: ">";
          font-size: 50px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          font-weight: bold;
        }
      }
    }

    .imageWrapper {
      width: 100%;
      height: 800px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
      .title {
        z-index: 1000;
        text-align: center;
        font-size: 40px;
        letter-spacing: 30px;
        font-family: cursive;
        display: flex;
        justify-content: center;
        transform: translate(0%, -1000%);
        color: $colorLightGrey;        
        font-weight: 900;
        text-decoration: underline solid $colorDarkPink;

      }
    }

    .sliderContent {
        position: absolute;
        top: 6.9%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 998;
        width: 1000px;
        height: 150px;
        background: $colorMediumPink;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid $colorDarkPink;
        
        .wrapper {
          height: 90%;
          width: 95%;
          display: flex;
          flex-direction: column;

          .topContent {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: $colorDarkPink;
            letter-spacing: 15px;
            font-family: cursive;
                        
            h1 {
              margin: 0;
            }            
          }
        }
      }

      .productsWrapper {
        margin-top: 50px;
                
        h1 {
          text-align: center;
          color: $colorGrey;
          font-size: 40px;
          font-weight: 500;
          margin-bottom: 80px;
          margin-top: -30px;
          font-family: cursive;
          text-decoration: underline solid $colorDarkPink;
          letter-spacing: 10px;
       
        }
        .boxesWrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;         
        }
      }
}

@media (max-width: 1040px){
  .root {
    margin-top: -100px;
    .logoWrapper {
      margin-bottom: -100px;
    }  
    .imageWrapper{
      .title {
        font-size: 20px;
        letter-spacing: 5px;
      }
    }
    .sliderContent {
      width: 700px;
      height: 80px;
      h1 {
        font-size: 25px;
      }    
    }
  }
  }

@media (max-width: 767px){
.root {
  margin-top: -150px;
  .logoWrapper {
    .icon {
      display: none;
    }
  }
  .imageWrapper{
    .title {
      display: none;
    }
  }
  .sliderContent {
    top: 10%;
    width: 350px;
    height: 50px;
    h1 {
      font-size: 15px;
    }    
  }
  .slider {
    display: none;
  }
  .productsWrapper {
    h1 {
      font-size: 25px;
    }
  }
}
}

@media (max-width: 360px){
  .root {
    margin-top: -200px;
    .logoWrapper {
      margin-bottom: -500px;
    }
    .sliderContent {
      top: 7%;
      width: 250px;
      height: 40px;
      h1 {
        font-size: 10px;
        letter-spacing: 5px;
      }    
    }
    .slider {
      display: none;
    }
    .productsWrapper {
      margin-top: 300px;
      h1 {
        font-size: 20px;
      }
    }
  }
}  
