@import '../../../styles/settings.scss';

.root {
    height: 80px;
    background: $colorDarkPink;
    position: relative;


    h2{
      text-align: center;
      color: $colorGrey;
      line-height: 80px;
      margin: 0;
      font-size: 14px;
    }
  }