@import '../../../styles/settings.scss';

.root {
  padding-top: 130px;
  min-height: calc(100vh - 50px);
  display: flex !important;
  position: relative;
  
  h2 {
    font-weight: 100;
    border: 1px solid $colorLightPink;
    border-radius: 3%;
    background: $colorLightPink;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    color: $colorGrey;
    text-align: center;
  }

  .leftWrapper {
    width: 800px;
    padding-right: 50px;    
  }

  .centerWrapper {
    width: 500px;
    padding-right: 50px;
    
    .price {
      display: flex;
      justify-content: space-around;
      color: $colorGrey;
      
      &:nth-of-type(2) {
        border-bottom: 1px solid $colorLightPink;
        padding-bottom: 15px;
      }
      &:nth-of-type(3) {
        font-size: 20px;
      }

      p:nth-of-type(2) {
        font-weight: bold;
      }
    }
        
  }
  .rightWrapper {
    
    form {
      padding-top: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $colorWhite;
      border-bottom: 1px solid $colorLightPink;;
      line-height: 15px;
      margin-bottom: 5px;
      
      &:focus-visible {
        outline: none;
      }
    }
    .btnWrapper {
      text-align: center;

      .btn {
        margin-top: 20px;
        width: 200px;
        padding: 20px 0;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 5px;
        font-style: cursive;
        cursor: pointer;
        background-color: $colorLightPink;
        color: $colorGrey;
        border-radius: 5px;
        outline: none;
        border: 1px solid $colorLightPink;
        transition: all 0.7s;

        &:hover {
          background: $colorDarkPink;
          color: $colorWhite;
        }
      }
    }
  }
}

.required{
  color: $colorDarkPink;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px){
  .root {
    flex-direction: column;
    padding-top: 100px;
    .leftWrapper {
      width: 500px;
      padding-right: 30px;
    }
    .centerWrapper {
      width: 500px;
      padding-right: 30px;    
    }
    .rightWrapper {
      width: 500px;
      padding-right: 30px;
    }
    .btn {
      margin-bottom: 20px;
    }
}
}
@media (max-width: 500px){
  .root {
    .leftWrapper {
      width: 300px;
      padding-right: 10px;
    }
    .centerWrapper {
      width: 300px;
      padding-right: 10px;    
    }
    .rightWrapper {
      width: 300px;
      padding-right: 10px;
    }
}
}