@import '../../../styles/settings.scss';

.root {
    width: 240px;
    border: 1px solid $colorGrey;
    margin: 15px 10px;

    .imageWrapper{
      height: 160px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      display: block;
      color: $colorGrey;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    h4{
      margin: 5px 0;
      text-align: center;
      color: $colorGrey;
    }
    .cartButton{
      background: $colorLightPink;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      height: 50px;
      color: $colorGrey;
      cursor: pointer;
      
      &:hover {
        background: $colorDarkPink;
        color: $colorWhite;
      }
    }
  }